{% extends 'base.html' %}
    {% block content %}
        {{ super() }}
        <hr>
        <h2>Список клиентов</h2>
        <ul class="list-posts">
            {% for p in posts %}
        <li>
            <p class="title"> <a href="{{ url_for('showClient', id_client=p.client_number) }}">{{ client_number }}</a></p>
            <p class="annonce"><label>Имя клиента: </label>{{ p.client_name }}</p>
            <p class="annonce"><label>Номер телефона: </label>{{ p.client_phone }}</p>
            <p class="annonce"><label>Эл. почта: </label>{{ p.client_email}}</p>
            <p class="annonce"><label>Почтовый адрес: </label>{{ p.client_postal_address}}</p>
            <p class="annonce"><label>Город: </label>{{ p.client_city}}</p>
            <p class="annonce"><label>Номер организации: </label>{{ p.organisation_number}}</p>
        </li>
        {% endfor %}
        </ul>
    {% endblock %}