{%  extends 'base.html' %}

{% block content %}
{{ super() }}

    <div class="current-task">
    <div class="task-id">
        <h3><label>Номер задания: </label>{{ task[0] }}</h3>
        </div>
    </div>
    <div class="task-info">
        <div class="text">
            <p>Дедлайн: {{ task[3] }}</p><input type="text" name="deadline", value="" required />
            <p>Дата принятия: {{ task[4] }}</p><input type="text" name="accept", value="" required />
            <p>Статус: {{ task[5] }}</p><input type="text" name="status", value="" required />
            <p>Номер исполнителя: {{ task[8] }}</p><input type="text" name="executor", value="" required />
            <p>Номер приоритета: {{ task[10] }}</p><input type="text" name="priority", value="" required />
        </div>
        <div class="button">
            <div><a href="{{ url_for('editTask', id_task=task[0]) }}">Изменить задачу</a></div>
        </div>
    </div>
{% endblock %}